
<header id="header" ng-show="mobile==true">
    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <h2>Live Odia</h2>
                    </a>
                </li>
                <li><a href="home" ng-click="onHomeClick();">ହୋମ ପେଜ୍</a></li>
                <li><a href="about">ଆମ ବିଷୟରେ</a></li>
                <li><a href="#">ଯୋଗାଯୋଗ</a></li>
                <li><a href="#">ବିଜ୍ଞାପନ</a></li>
                <li class="btn-nav"><h2>Hot News</h2></li>
                <li class="odia-font" ng-repeat="hnews in hnewsTitle">
                    <figcaption><a ng-click="getHotNewsSummary(hnews.ndid)">{{hnews.htitle}}</a></figcaption>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="topadd_bar">
                <a href="#">
                    <img src="../../images/addr_728x90_V11.jpg" alt="" />
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="middle_content" ng-show="hnews!=false">
                <h2>Hot News Summary</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in  hotnews | orderBy:'-hnid'">
                        <div ng-show="news.himage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.himage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h2 class="article_titile"><a class="odia-font" ng-click="getHotNewsOnClick(news.hnid)">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <div ng-show="news.himage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font" ng-click="getHotNewsOnClick(news.hnid)">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="middle_content" ng-show="hnewssummary!=false">
                <h2>Hot News Sumary Detail</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown">
                        <div ng-show="hnewsDetail.himage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{hnewsDetail.himage}}" alt=""></a></figure>
                            <h2 class="article_titile">
                                {{hnewsDetail.htitle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{hnewsDetail.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{hnewsDetail.hotnews}}</p>
                        </div>
                        <div ng-show="hnewsDetail.himage=='Default'">
                            <h2 class="article_titile1">
                                {{hnewsDetail.htitle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{hnewsDetail.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{hnewsDetail.hotnews}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="middle_content" ng-show="tpnews!=false">
                <h2>Top News Detail</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in tnews | orderBy:'-tnid'">
                        <div ng-show="news.timage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.timage}}" alt=""></a></figure>
                            <h2 class="article_titile odia-font">{{news.ttitle}}</h2>
                            <h4>{{news.tsub}}</h4>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{news.topnews}}</p>
                        </div>
                        <div ng-show="news.timage=='Default'">
                            <h2 class="article_titile1 odia-font">{{news.ttitle}}</h2>
                            <h4>{{news.tsub}}</h4>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{news.topnews}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="single_page_area" ng-show="nstory!=false">
                <div class="middle_content">
                    <h2>New Story</h2>
                </div>
                <ul class="featured_nav">
                    <li class="wow fadeInDown">
                        <div ng-show="detailNews[0].nimage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{detailNews[0].nimage}}" alt=""></a></figure>
                            <h2 class="article_titile">
                                {{detailNews[0].ntitle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{detailNews[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <h4>{{detailNews[0].nsub}}</h4>
                            <p class="odia-font">{{detailNews[0].newstory}}</p>
                        </div>
                        <div ng-show="detailNews[0].nimage=='Default'">
                            <h2 class="article_titile1">
                                {{detailNews[0].ntitle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{detailNews[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <h4>{{detailNews[0].nsub}}</h4>
                            <p class="odia-font">{{detailNews[0].newstory}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="social_link">
                <ul class="social_nav">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
            <div class="related_post">
                <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
                <ul class="ppost_nav wow fadeInDown">
                    <li>
                        <div class="media">
                            <a href="single_page.html" class="media-left"><img alt="" src="../images/70x70.jpg"></a>
                            <div class="media-body"><a href="single_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="single_page.html" class="media-left"><img alt="" src="../images/70x70.jpg"></a>
                            <div class="media-body"><a href="single_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="single_page.html" class="media-left"><img alt="" src="../images/70x70.jpg"></a>
                            <div class="media-body"><a href="single_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="single_page.html" class="media-left"><img alt="" src="../images/70x70.jpg"></a>
                            <div class="media-body"><a href="single_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="single_page.html" class="media-left"><img alt="" src="../images/70x70.jpg"></a>
                            <div class="media-body"><a href="single_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="single_page.html" class="media-left"><img alt="" src="../images/70x70.jpg"></a>
                            <div class="media-body"><a href="single_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="nav-growpop" ng-show="hnewssummary!=false">
            <a class="prev" href="#" ng-click="getPreviousHotNews(pHNews.hnid)" ng-show="pHNews!=undefind">
                <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
                <div>
                    <span>Previous News</span>
                    <h3>{{pHNews.htitle}}</h3>
                    <img ng-show="pHNews.himage!='Default'" ng-src="../UploadedImage/{{pHNews.himage}}" width="100" height="100" alt="" />
                </div>
            </a>
            <a class="next" href="#" ng-click="getNextHotNews(nHNews.hnid)" ng-show="nHNews!=undefind">
                <span class="icon-wrap"><i class="fa fa-angle-right"></i></svg></span>
                <div>
                    <span>Next Story</span>
                    <h3>{{nHNews.htitle}}</h3>
                    <img ng-show="nHNews!='Default'" ng-src="../UploadedImage/{{nHNews.himage}}" height="100" width="100" alt="" />
                </div>
            </a>
        </nav>
        <nav class="nav-growpop" ng-show="nstory!=false">
            <a class="prev" href="#" ng-click="getPreviousNews(pNews.nsid)" ng-show="pNews!=undefind">
                <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
                <div>
                    <span>Previous News</span>
                    <h3>{{pNews.ntitle}}</h3>
                    <img ng-show="pNews!='Default'" ng-src="../UploadedImage/{{pNews.nimage}}" width="100" height="100" alt="" />
                </div>
            </a>
            <a class="next" href="#" ng-click="getNextNews(nNews.nsid)" ng-show="nNews!=undefind">
                <span class="icon-wrap"><i class="fa fa-angle-right"></i></svg></span>
                <div>
                    <span>Next Story</span>
                    <h3>{{nNews.ntitle}}</h3>
                    <img ng-show="nNews!='Default'" ng-src="../UploadedImage/{{nNews.nimage}}" height="100" width="100" alt="" />
                </div>
            </a>
        </nav>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="right_sidebar">
                <div class="single_widget">
                    <h2>Popular News</h2>
                    <ul class="nav nav-tabs custom-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Recent Post</a></li>
                        <li role="presentation" class=""><a href="#recentComent" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Recent Comment</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="mostPopular">
                            <ul class="ppost_nav wow fadeInDown">
                                <li ng-repeat="news in topstories | orderBy :'-tnid'">
                                    <div class="media">
                                        <a ng-show="news.timage!='Default'" class="media-left" href="#"><img ng-src="../UploadedImage/{{news.timage}}" width="100" height="100" alt=""></a>
                                        <div class="media-body"><a class="catg_title" href="#" ng-click="getTopNewsByID(news.tnid)">{{news.ttitle}}</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_widget">
                        <h2>Categories</h2>
                        <ul>
                            <li class="cat-item"><a href="#">Technology</a></li>
                            <li class="cat-item"><a href="#">Games</a></li>
                            <li class="cat-item"><a href="#">Business</a></li>
                            <li class="cat-item"><a href="#">Gallery</a></li>
                            <li class="cat-item"><a href="#">Slider</a></li>
                            <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                            <li class="cat-item"><a href="#">Sports</a></li>
                        </ul>
                    </div>
                    <div class="single_widget">
                        <h2>Category Archive</h2>
                        <select class="catgArchive">
                            <option>Select Category</option>
                            <option>Life styles</option>
                            <option>Sports</option>
                            <option>Technology</option>
                            <option>Treads</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>