<header id="header" ng-show="mobile==true">
    <div id="wrapper">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <h2>Live Odia</h2>
                    </a>
                </li>
                <li><a href="home" ng-click="onHomeClick();">ହୋମ ପେଜ୍</a></li>
                <li><a href="about">ଆମ ବିଷୟରେ</a></li>
                <li><a href="#">ଯୋଗାଯୋଗ</a></li>
                <li><a href="#">ବିଜ୍ଞାପନ</a></li>
                <li class="btn-nav"><h2>Hot News</h2></li>
                <li><div class="overlay1"></div></li>
                <li class="odia-font" ng-repeat="hnews in hotNews">
                    <figcaption><a ng-click="getHotNewsSummary(hnews.ndid)">{{hnews.htitle}}</a></figcaption>
                </li>

            </ul>
        </nav>
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
        </div>
    </div>

    <!--<span class="pull-left">
        <button type="button" class="btn btn-default btn-lg" ng-click="openAside('left', true)">
            <span class="glyphicon glyphicon-align-justify"></span> Left
        </button>
    </span>-->
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="featured_slider">
                <h2 class="featured_title">ନିଶ୍ଚୟ ପଢନ୍ତୁ</h2>
                <div class="slick_slider" ng-repeat="inews in impnews">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 box trimLR scrollbar" id="style-3" ">
                        <div ng-show="inews.iimage!='Default'" ng-click="GetImpNewsById(inews.inid)">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left trimLR force-overflow" ng-click="GetImpNewsById(inews.inid)">
                                <div class="media">
                                    <a class="media-left" ng-click="GetImpNewsById(inews.inid)"><img alt="" ng-src="../UploadedImage/{{inews.iimage}}" width="97" height="97" data-pin-nopin="true"></a>
                                    <div class="media-body">
                                        <a class="catg_title" ng-click="GetImpNewsById(inews.inid)">
                                            <b class="impnewsfont">{{inews.ititle}}</b>
                                        </a>
                                        <br /><br />
                                        <p class="impnews-font">{{inews.impnews | limitTo:letterLimit}} <strong>. . .</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="inews.iimage=='Default'" ng-click="GetImpNewsById(inews.inid)">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left trimLR">
                                <div class="media">
                                    <div class="media-body">
                                        <a class="catg_title" ng-click="GetImpNewsById(inews.inid)">
                                            <b class="impnewsfont">{{inews.ititle}}</b>
                                        </a>
                                        <br /><br />
                                        <p class="impnews-font">{{inews.impnews | limitTo:letterLimit}} <strong>. . .</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8" id="middle_content">
            <div class="middle_content" ng-show="ipnews!=false">
                <h2>Important News</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown">
                        <div ng-show="imnews[0].iimage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{imnews[0].iimage}}" alt=""></a></figure>
                            <h2 class="article_titile">
                                {{imnews[0].ititle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{imnews[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{imnews[0].impnews}}</p>
                        </div>
                        <div ng-show="imnews[0].iimage=='Default'">
                            <h2 class="article_titile1">
                                {{imnews[0].ititle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{imnews[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{imnews[0].impnews}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="middle_content" ng-show="hnewsdetail!=false">
                <h2>Hot News</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown">
                        <div ng-show="hnewsDetail[0].himage!='Default'">
                            <h2 class="article_titile">
                                {{hnewsDetail[0].htitle}}
                            </h2>
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{hnewsDetail[0].himage}}" alt=""></a></figure>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{hnewsDetail[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{hnewsDetail[0].hotnews}}</p>
                        </div>
                        <div ng-show="hnewsDetail[0].himage=='Default'">
                            <h2 class="article_titile1">
                                {{hnewsDetail[0].htitle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{hnewsDetail[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{hnewsDetail[0].topnews}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="middle_content" ng-show="hnews!=false">
                <h2>Hot Stories Summary</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in hnewsDetail | orderBy :'-hnid'">
                        <div ng-show="news.himage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.himage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h2 class="article_titile"><a class="odia-font" ng-click="getHotNewsByID(news.hnid)">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <div ng-show="news.himage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font"ng-click="getHotNewsByID(news.hnid)">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteHotNews(news.hnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
            <div class="middle_content" ng-show="tpnews!=false">
                <h2>Top News Detail</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in tnews | orderBy :'-tnid'">
                        <div ng-show="news.timage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.timage}}" alt=""></a></figure>
                            <article class="featured_article2">
                                <h2 class="article_titile odia-font">{{news.ttitle}}</h2>
                                <h4>{{news.tsub}}</h4>
                                <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                                <p class="odia-font">{{news.topnews}}</p>
                            </article>
                        </div>
                        <div ng-show="news.timage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font">{{news.ttitle}}</a></h2>
                                <h4>{{news.tsub}}</h4>
                                <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                                <p class="odia-font">{{news.topnews}}</p>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteTopNews(news.tnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
            <div class="middle_content" ng-show="nstory!=false">
                <h2>New Stories</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in newstory | orderBy :'-nsid'">
                        <div ng-show="news.nimage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.nimage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h2 class="article_titile"><a class="odia-font" href="detailnews/{{news.nsid}}">{{news.ntitle}}</a></h2>
                                <h4>{{news.nsub}}</h4>
                                <p class="odia-font"><strong>{{news.newstory | limitTo:letterLimit}} . . .</strong></p>
                            </article>
                        </div>
                        <div ng-show="news.nimage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font" href="detailnews/{{news.nsid}}">{{news.ntitle}}</a></h2>
                                <h4>{{news.nsub}}</h4>
                                <p class="odia-font"><strong>{{news.newstory | limitTo:letterLimit}} . . .</strong></p>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteNewsStory(news.nsid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="right_sidebar">
                <div class="single_widget">
                    <h2>Popular News</h2>
                    <ul class="nav nav-tabs custom-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Recent Post</a></li>
                        <li role="presentation" class=""><a href="#recentComent" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Recent Comment</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="mostPopular">
                            <ul class="ppost_nav wow fadeInDown">
                                <li ng-repeat="news in topstories  |  orderBy :'-tnid'">
                                    <div class="media">
                                        <a class="media-left" href="#"><img ng-show="news.timage!='Default'" ng-src="../UploadedImage/{{news.timage}}" width="100" height="100" alt=""></a>
                                        <div class="media-body"><a class="catg_title" href="#" ng-click="getTopNewsByID(news.tnid)">{{news.ttitle}}</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_widget">
                    <h2>Categories</h2>
                    <ul>
                        <li class="cat-item"><a href="#">Technology</a></li>
                        <li class="cat-item"><a href="#">Games</a></li>
                        <li class="cat-item"><a href="#">Business</a></li>
                        <li class="cat-item"><a href="#">Gallery</a></li>
                        <li class="cat-item"><a href="#">Slider</a></li>
                        <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                        <li class="cat-item"><a href="#">Sports</a></li>
                    </ul>
                </div>
                <div class="single_widget">
                    <h2>Category Archive</h2>
                    <select class="catgArchive">
                        <option>Select Category</option>
                        <option>Life styles</option>
                        <option>Sports</option>
                        <option>Technology</option>
                        <option>Treads</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="left_sidebar">
                <div class="single_widget">
                    <h2>Hot News</h2>
                    <ul class="post_nav">
                        <li class="odia-font" ng-repeat="hnews in hotNews">
                            <h2><a ng-click="getHotNewsSummaryLast(hnews.ndid)">{{hnews.htitle}}</a></h2>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="mostPopular">
                                    <ul class="ppost_nav wow fadeInDown">
                                        <li ng-show="hnews.ndid===1" ng-repeat="news in hnewsData1 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <a class="media-left" href="#"><img ng-show="news.himage!='Default'" ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></a>
                                                <div class="media-body"><a class="catg_title" ng-click="getHotNewsByID(news.hnid)">{{news.htitle}}</a></div>
                                                <h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>
                                            </div>
                                        </li>
                                        <li ng-show="hnews.ndid===2" ng-repeat="news in hnewsData2 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <a class="media-left" href="#"><img ng-show="news.himage!='Default'" ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></a>
                                                <div class="media-body"><a class="catg_title" ng-click="getHotNewsByID(news.hnid)">{{news.htitle}}</a></div>
                                                <h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>
                                            </div>
                                        </li>
                                        <li ng-show="hnews.ndid===3" ng-repeat="news in hnewsData3 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <a class="media-left" href="#"><img ng-show="news.himage!='Default'" ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></a>
                                                <div class="media-body"><a class="catg_title" ng-click="getHotNewsByID(news.hnid)">{{news.htitle}}</a></div>
                                                <h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
