<header id="header" ng-show="mobile==true">
    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <h2>Live Odia</h2>
                    </a>
                </li>
                <li><a href="home" ng-click="onHomeClick();">ହୋମ ପେଜ୍</a></li>
                <li><a href="about">ଆମ ବିଷୟରେ</a></li>
                <li><a href="#">ଯୋଗାଯୋଗ</a></li>
                <li><a href="#">ବିଜ୍ଞାପନ</a></li>
                <li class="btn-nav"><h2 >Hot News</h2></li>
                <li class="odia-font"  ng-repeat="hnews in hotNews">
                    <figcaption><a ng-click="getHotNewsSummary(hnews.ndid)">{{hnews.htitle}}</a></figcaption>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="featured_slider">
                <h2 class="featured_title">On Featured</h2>
                <div class="slick_slider" ng-repeat="inews in impnews">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 box trimLR">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left trimLR">
                            <div class="media">
                                <a href="pages/single_page.html" class="media-left"><img alt="" ng-src="../UploadedImage/{{inews.iimage}}" width="70" height="70" data-pin-nopin="true"></a>
                                <div class="media-body-center"><a href="pages/single_page.html" class="catg_title">{{inews.ititle}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="middle_content" ng-show="hnews!=false">
                <h2>Hot Stories Summary</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in hnewsDetail | orderBy :'-hnid'">
                        <div ng-show="news.himage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.himage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h2 class="article_titile"><a class="odia-font" href="detailhotnews/{{news.hnid}}">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <div ng-show="news.himage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font" href="detailhotnews/{{news.hnid}}">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteHotNews(news.hnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
            <div class="middle_content" ng-show="tpnews!=false">
                <h2>Top News Detail</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in tnews | orderBy :'-tnid'">
                        <div ng-show="news.timage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.timage}}" alt=""></a></figure>
                            <article class="featured_article2">
                                <h2 class="article_titile odia-font">{{news.ttitle}}</h2>
                                <h4>{{news.tsub}}</h4>
                                <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                                <p class="odia-font">{{news.topnews}}</p>
                            </article>
                        </div>
                        <div ng-show="news.timage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font">{{news.ttitle}}</a></h2>
                                <h4>{{news.tsub}}</h4>
                                <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                                <p class="odia-font">{{news.topnews}}</p>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteTopNews(news.tnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
            <div class="middle_content" ng-show="nstory!=false">
                <h2>New Stories</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in newstory | orderBy :'-nsid'">
                        <div ng-show="news.nimage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.nimage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h2 class="article_titile"><a class="odia-font" href="detailnews/{{news.nsid}}">{{news.ntitle}}</a></h2>
                                <h4>{{news.nsub}}</h4>
                                <p class="odia-font"><strong>{{news.newstory | limitTo:letterLimit}} . . .</strong></p>
                            </article>
                        </div>
                        <div ng-show="news.nimage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font" href="detailnews/{{news.nsid}}">{{news.ntitle}}</a></h2>
                                <h4>{{news.nsub}}</h4>
                                <p class="odia-font"><strong>{{news.newstory | limitTo:letterLimit}} . . .</strong></p>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteNewsStory(news.nsid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="left_sidebar">
                <div class="single_widget">

                    <ul class="post_nav"></ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="right_sidebar">
                <div class="single_widget">
                    <h2>Popular News</h2>
                    <ul class="nav nav-tabs custom-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Recent Post</a></li>
                        <li role="presentation" class=""><a href="#recentComent" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Recent Comment</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="mostPopular">
                            <ul class="ppost_nav wow fadeInDown">
                                <li ng-repeat="news in topstories  |  orderBy :'-tnid'">
                                    <div class="media">
                                        <a class="media-left" href="#"><img ng-show="news.timage!='Default'" ng-src="../UploadedImage/{{news.timage}}" width="100" height="100" alt=""></a>
                                        <div class="media-body"><a class="catg_title" href="#" ng-click="getTopNewsByID(news.tnid)">{{news.ttitle}}</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_widget">
                    <h2>Categories</h2>
                    <ul>
                        <li class="cat-item"><a href="#">Technology</a></li>
                        <li class="cat-item"><a href="#">Games</a></li>
                        <li class="cat-item"><a href="#">Business</a></li>
                        <li class="cat-item"><a href="#">Gallery</a></li>
                        <li class="cat-item"><a href="#">Slider</a></li>
                        <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                        <li class="cat-item"><a href="#">Sports</a></li>
                    </ul>
                </div>
                <div class="single_widget">
                    <h2>Category Archive</h2>
                    <select class="catgArchive">
                        <option>Select Category</option>
                        <option>Life styles</option>
                        <option>Sports</option>
                        <option>Technology</option>
                        <option>Treads</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
