<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="featured_slider">
                <h2 class="featured_title">Important News</h2>
                <div class="slick_slider" ng-repeat="inews in impnews | orderBy : '-priority'">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 box trimLR scrollbar" id="style-3">
                        
                        <div ng-show="inews.iimage!='Default'" ng-click="GetImpNewsById(inews.inid)">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left trimLR force-overflow" ng-click="GetImpNewsById(inews.inid)">
                                <div class="media">
                                    <a class="media-left" ng-click="GetImpNewsById(inews.inid)"><img alt="" ng-src="../UploadedImage/{{inews.iimage}}" width="97" height="97" data-pin-nopin="true"></a>
                                    <div class="media-body">
                                        <a class="catg_title" ng-click="GetImpNewsById(inews.inid)">
                                            <b>{{inews.ititle}}</b>
                                        </a>
                                        <br /><br />
                                        <p class="odia-font">{{inews.impnews | limitTo:impnewsLimit}} <strong>. . .</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="inews.iimage=='Default'" ng-click="GetImpNewsById(inews.inid)">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left trimLR">
                                <div class="media">
                                    <div class="media-body">
                                        <a class="catg_title" ng-click="GetImpNewsById(inews.inid)">
                                            <b>{{inews.ititle}}</b>
                                        </a>
                                        <br /><br />
                                        <p class="odia-font">{{inews.impnews | limitTo:impnewsLimit}} <strong>. . .</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="left_sidebar">
                <div class="single_widget">
                    <h2>Hot News</h2>
                    <ul class="post_nav">
                        <li class="odia-font" ng-repeat="hnews in hotNews">
                            <figure class="effect-lily">
                                <a href="pages/single_page.html"><img src="images/270x150x4.jpg" alt=""></a>
                                <figcaption><a ng-click="getHotNewsSummary(hnews.ndid)">{{hnews.htitle}}</a></figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8">

            <div class="middle_content" ng-show="ipnews!=false">
                <h2>Important News</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown">
                        <div ng-show="imnews[0].iimage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{imnews[0].iimage}}" alt=""></a></figure>
                            <h2 class="article_titile">
                                {{imnews[0].ititle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{imnews[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{imnews[0].impnews}}</p>
                        </div>
                        <div ng-show="imnews[0].iimage=='Default'">
                            <h2 class="article_titile1">
                                {{imnews[0].ititle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{imnews[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="odia-font">{{imnews[0].impnews}}</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="middle_content" ng-show="hnews!=false">
                <h2>Hot Stories Summary</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in hnewsDetail | orderBy :'-hnid'">
                        <div ng-show="news.himage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.himage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h2 class="article_titile"><a class="odia-font" href="detailhotnews/{{news.hnid}}">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <div ng-show="news.himage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font" href="detailhotnews/{{news.hnid}}">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteHotNews(news.hnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
            <div class="middle_content" ng-show="tpnews!=false">
                <h2>Top News Detail</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in tnews | orderBy :'-tnid'">
                        <div ng-show="news.timage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.timage}}" alt=""></a></figure>
                            <article class="featured_article2">
                                <h2 class="article_titile odia-font">{{news.ttitle}}</h2>
                                <h4>{{news.tsub}}</h4>
                                <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                                <p class="odia-font">{{news.topnews}}</p>
                            </article>
                        </div>
                        <div ng-show="news.timage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font">{{news.ttitle}}</a></h2>
                                <h4>{{news.tsub}}</h4>
                                <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                                <p class="odia-font">{{news.topnews}}</p>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteTopNews(news.tnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
            <div class="middle_content" ng-show="nstory!=false">
                <h2>New Stories</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in newstory | orderBy :'-nsid'">
                        <div ng-show="news.nimage!='Default'">
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.nimage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h2 class="article_titile"><a class="odia-font" href="detailnews/{{news.nsid}}"><b>{{news.ntitle}}</b></a></h2>
                                <h4>{{news.nsub}}</h4>
                                <p class="odia-font">{{news.newstory | limitTo:letterLimit}} <strong>. . .</strong></></p>
                            </article>
                        </div>
                        <div ng-show="news.nimage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font" href="detailnews/{{news.nsid}}"><b>{{news.ntitle}}</b></a></h2>
                                <h4>{{news.nsub}}</h4>
                                <p class="odia-font"><strong>{{news.newstory | limitTo:letterLimit}}<strong>. . .</strong></strong></p>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteNewsStory(news.nsid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="right_sidebar">
                <div class="single_widget">
                    <h2>Popular News</h2>
                    <ul class="nav nav-tabs custom-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Recent Post</a></li>
                        <li role="presentation" class=""><a href="#recentComent" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Recent Comment</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="mostPopular">
                            <ul class="ppost_nav wow fadeInDown">
                                <li ng-repeat="news in topstories  |  orderBy :'-tnid'">
                                    <div class="media">
                                        <a class="media-left" href="#"><img ng-show="news.timage!='Default'" ng-src="../UploadedImage/{{news.timage}}" width="100" height="100" alt=""></a>
                                        <div class="media-body"><a class="catg_title" href="#" ng-click="getTopNewsByID(news.tnid)">{{news.ttitle}}</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_widget">
                    <h2>Categories</h2>
                    <ul>
                        <li class="cat-item"><a href="#">Technology</a></li>
                        <li class="cat-item"><a href="#">Games</a></li>
                        <li class="cat-item"><a href="#">Business</a></li>
                        <li class="cat-item"><a href="#">Gallery</a></li>
                        <li class="cat-item"><a href="#">Slider</a></li>
                        <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                        <li class="cat-item"><a href="#">Sports</a></li>
                    </ul>
                </div>
                <div class="single_widget">
                    <h2>Category Archive</h2>
                    <select class="catgArchive">
                        <option>Select Category</option>
                        <option>Life styles</option>
                        <option>Sports</option>
                        <option>Technology</option>
                        <option>Treads</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>